pip
pip-tools
bumpversion
wheel
watchdog
tox
coverage
twine
sqlalchemy
# clip to psycopg2 2.7.7. 2.8+ has compatibility issues
psycopg2-binary==2.7.7
elasticsearch-dsl>=6.0.0,<8.0.0
sqlparse
redis
environs
newrelic
python-logstash
faker
pytest
pytest-cov
pytest-runner
pytest-mock
pytest-sugar
pytest-runner
mock
futures
flake8
flake8_docstrings
flake8-debugger
flake8-print
flake8-todo
flake8-isort
pep8-naming
pydocstyle
supervisor
